
.mat-toolbar {
    background-color: bisque;
}
#head {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

#head2 {
    display: flex;
    background-color: bisque;
    img{
        width: 200px;
        padding-left: 20px;
    }
    .button{
        display: flex;
        margin: auto;
        justify-content: center;
    }
}

#dialog:hover {
    cursor: pointer;
}

button {
    margin: 15px;
    justify-content: center;
}


.form-group {
margin: 10px;
}

#dialogApp {
    width: 20%;
    height: 60%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group > input {
    justify-content: right;
}