*{
    background-color: #262626;
    color: white;
}
.container{
    display: flex;
    justify-content:space-between;
    padding-bottom: 30px;
}

.container_footer {
    margin: auto;
    padding-top: 10px;
}